#contenu_droite, #contenu_gauche, #contenu_principal, .carte{
    container-type: inline-size;
}
@container ( width > 450px){
    h3{
        font-size: 2em;
    }
}
@container ( width > 425px){
    p{
        display:none ;
    }
}
@container (min-width: 400px) and (max-width: 500px){
    h3{
        display: inline-block;
        text-align: left;
        width: 45cqmin;
        vertical-align: top;
    }
    img{
        width: 50cqmin;
    }
}
@media screen and (max-width: 1450px){
    #contenu_gauche{
        display: none;
    } 
}
@media screen and (max-width: 950px){
    #contenu_droite{
        display: none;
    } 
}